html {
  overflow: auto !important;
}

.ml-s {
  margin-left: 5px;
}

.top-menu-bar {
  float: left;
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  top: 43px;
  margin-left: 0;
  font-weight: 600;
}

.top-menu-bar li {
  display: inline-block;
  padding: 0 5px;
}
.top-menu-bar a {
  font-family: 'Mukta', sans-serif;
  color: #000;
}
.top-menu-bar a:hover {
  color: #999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.page-subtitle,
.nav-button-wrap {
  display: none;
}

@media screen and (max-width: 1250px) {
  .top-menu-bar {
    display: none;
  }
  .page-subtitle,
  .nav-button-wrap {
    display: block;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.projects .column-wrapper {
  width: 100%;
}
.card-item {
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  width: auto;
  padding: 10px;
  box-shadow: 0 0 8px #dedede;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-direction: column;
}
.card-item:hover {
  animation: inout 0.5s;
  animation-fill-mode: forwards;
}

@keyframes inout {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}
.card-item__preview {
  text-align: left;
}
.card-item__cover {
  height: 140px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.card-item__description {
  font-size: 16px;
}

.column-image {
  background: #fff !important;
}
.bg.serv-bg {
  background-size: contain !important;
  background-repeat: no-repeat;
  color: black;
}

.front-description {
  border-radius: 8px;
  margin: 0 0 25px;
  padding: 5px;
  color: #5e646a;
  background: #f1f1f1;
  z-index: 1;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.front-description_item {
  display: none;
}
/* ------responsive------------------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (max-width: 580px) {
  .card-item {
    width: 100%;
    margin-right: 0;
    flex-direction: row;
  }
  .card-item__description {
    text-align: center;
    margin-left: 20px;
  }
  .front-description {
    display: none;
  }
}
