body{
  background: #f3f5f9;
  font-family: "Arial", "微軟正黑體";
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

a:hover{
  text-decoration: none;
}

.mobileOnly{
  display: none;
}

/* container
=====================================================================================*/

.report-container{
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #313131;
  background: rgb(38, 38, 38);
}
.report-wrap{
  max-width: 1200px;
  margin: 0 auto;
}

/* Result
=====================================================================================*/
.bet-heading{
  font-size: 18px;
  color: #fff;
  margin: 0 0 5px 0;
}
.bet-result{
  font-size: 13px;
  color: #dedede;
  padding: 0;
  margin: 0 0 5px 0;
}
.bet-link{
  width: calc(100% - 5px);
  display: block;
  border-radius: 3px;
  margin: 0 auto;
  border: 1px solid #7492e8;
  color:  #7492e8;
}
.bet-link:hover{
  background: #6585e0;
  color: #fff;
  text-decoration: none;
}

/*手機版時關閉視窗*/
.btnCloseWindow{
  border: 0;
  background: #fff;
  color: #6585e0;
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 9.5px;
  right: 9.5px;
  text-align: center;
  padding: 0;
}

/* Caption
=====================================================================================*/

.caption{
  padding: 18px 0;
  font-weight: bold;
  float:  left;
}
.actions{
  float: right;
  display: inline-block;
  posiotn: relative;
}
.actions div{
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 10px;
}
.searchBtn{ float: right;}

/* Pager
=====================================================================================*/

.pageBar{
  margin: 13px 0;
  float: right;
}
.pageBar a{
  font-size: 12px;
  line-height: 1.5;
}
.pageBar a:hover {
  background: #f3f5f9;
}
.pageBar input.form-control{
  height: 24px;
  padding: 0 5px;
  width: 50px;
  text-align: center;
  display: inline-block;
  margin: 2px 5px;
  border-radius: 0;
  border: 1px solid #ddd;
  vertical-align: middle;
}
.btnPrev, .btnNext, .btnPage {
  font-size: 12px;
  position: relative;
  padding: 4px 8px;
  line-height: 1;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
  height: 28px;
}

/* history_report
=====================================================================================*/

.header-fixed{
  position: fixed;
  height: 95px;
  width:  100%;
  z-index: 9999;
  background: #f3f5f9;
}
.empty-height{
  height: 95px;
  display: block;
  width: 100%;
}

.header-bar{
  height: 40px;
  text-align: center;
  width: 100%;
  background: #6686DF;
}
.bet-heading{
  font-size: 20px;
  color: #fff;
  line-height: 38px;
  margin: 0;
  font-family: "新細明體";
}

.button-group{
  display:table;
  margin: 0 auto;
}

.btn.main{
  background: transparent;
  border: 1px solid #6585e0;
  color: #6585e0;
  line-height: 30px;
  margin: 10px;
  min-width: 80px;
  padding: 0 10px;
}
.btn.main.current,
.btn.main.current:hover,
.btn.main:hover{
  background: #6585e0;
  color: #fff;
}

/* Panel
=====================================================================================*/
.panel.panel-form{
  -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px;
}
.panel.panel-form .panel-heading{
  background: #fff;
  text-align: center;
  font-weight: bold;
  color: #6585e0;
  font-size: 20px;
  text-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  font-family: "新細明體";
}
.panel.panel-form .panel-body{
  padding-top: 0;
}

/*老虎機卡牌樣式*/
.panel.panel-form.betResult{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a67ff+0,3bc0e0+100 */
  background: #5a67ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5a67ff 0%, #3bc0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5a67ff 0%,#3bc0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5a67ff 0%,#3bc0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a67ff', endColorstr='#3bc0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px;
}
.panel.panel-form.betResult .panel-heading{
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  color:  #fff;
  margin-bottom: 15px;
}
.betResult{
  color: #fff;
}

/* GameStyle 牌桌樣式
=====================================================================================*/

.panel.panel-form.betResult.tableGameStyle{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a67ff+0,3bc0e0+100 */
  background: #0F787E; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0F787E 0%, #06B4AB 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0F787E 0%,#06B4AB 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0F787E 0%,#06B4AB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F787E', endColorstr='#06B4AB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px;
}
.vector-table-border{
  display:  table;
  height: 200px;
  background: #0E6362;
  border-radius: 100px;
  margin: 0 auto 15px;
  padding: 5px;
}
.vector-table-felt{
  height: 100%;
  border-radius: 100px;
  border: 5px solid #DDB13C;
  background: #349044;
  padding: 0 50px;
  display: table;
  margin:  0 auto;
}


/* GameStyle 牌桌樣式
=====================================================================================*/

.panel.panel-form.betResult.tableGameStyle{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a67ff+0,3bc0e0+100 */
  background: #0F787E; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0F787E 0%, #06B4AB 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0F787E 0%,#06B4AB 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0F787E 0%,#06B4AB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F787E', endColorstr='#06B4AB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px;
}
.vector-table-border{
  display:  table;
  height: 200px;
  background: #0E6362;
  border-radius: 100px;
  margin: 0 auto 15px;
  padding: 5px;
  width: 95%;
}
.vector-table-felt{
  height: 100%;
  border-radius: 100px;
  border: 5px solid #DDB13C;
  background: #349044;
  padding: 20px 18px 50px;
  display: table;
  margin:  0 auto;
  width: 100%;
}
/*牌桌樣式表格*/
.tableGameStyle-table{
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.tableGameStyle-table tr td{
  border: 1px solid #38A248;
  padding: 5px;
}
/*牌桌樣式按鈕*/
.btn.tableBtn{
  background: transparent;
  border: 2px solid #84c586;
  color: #c5ffc3;
  line-height: 20px;
  margin: 10px;
  min-width: 80px;
  padding: 0 10px;
}
.btn.tableBtn.current,
.btn.tableBtn.current:hover,
.btn.tableBtn:hover{
  background: #065453;
  color: #fff;
}
/*撲克牌圖*/
.card-poker{
  width:36px;
  height:46px;
}


/* Table
=====================================================================================*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px 5px 2px 5px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dde7fe;
}
.table{
  margin-bottom: 10px;
}

/*th*/
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #dde7fe;
}

/* no-boarded */
.table.no-boarded>tbody>tr>td, .table.no-boarded>tbody>tr>th{
  border: 0!important;
}

.font-sm{
  font-size: 10px;
}

.total{
  border-top: 4px solid #E2EAFF;
  border-bottom: 4px solid #E2EAFF;
  color: #4B6DC4;
}
.table-footer-info {
  margin: 0 auto;
  background: #e2eaff;
  width: 100%;
}
.table-footer-info td{
  padding: 2px;
  font-size: 14px;
}
.calc-color{
  color: #666
}
.font-blue{
  color: #1e90ff;
}
.font-red{
  color: #ed6b75;
}
.alert-block{
  color: #ed6b75;
  border-radius: 2px;
  border: 1px solid #f9d5d7;
  background-color: #fdeff0;
  padding: 5px 10px;
  text-align: center;
  margin:5px 0;
}
.inline-block{
  display: inline-block;
}

/* RWD
=====================================================================================*/

@media screen and (max-width:768px) {
  .btnPrev, .btnNext, .btnPage {
    padding: 8px
  }
  .actions .btn{
    text-align: center;
  }
  .vector-table-border{
    flex: 1;
  }

}

@media screen and (max-width:750px) {
  .btnPrev, .btnNext, .btnPage {
    padding: 4px 5px;
  }
}
@media screen and (max-width:555px) {
  .table{
    font-size: 12px;
  }
  .table-footer-info td{
    padding: 2px;
    font-size: 12px;
  }
  .table-cards img{
    width: 18%!important;
  }
  .mobileOnly{
    display: block;
  }
}