
/* report_list
=====================================================================================*/

.group8,.group6,
.group10 span.b,
.group11 span.b{
  color: #5a6ca0;
}

.group1,
.group2,
.group3,
.group4,
.group9{
  text-align: center;
}
.group5,
.group6,
.group7,
.group8,
.group10,
.group11 {
  text-align: right;
}

.group9,
.group10,
.group11{
  display: none;
}

/* width ----------- */
.group1{
  width: 145px;
}
td.group1{
  font-size: 14px;
}
.group4{
  width: 50px;
}

/*手機版時左右寬少點*/
.row {
  margin-left: -20px;
  margin-right: -20px;
}

@media screen and (max-width:1024px) {
  .group4,
  .group5,
  .group6{
    display: none;
  }
  .group10{
    display: table-cell;
  }
}

@media screen and (max-width:980px) {
  .group4,
  .group5,
  .group6,
  .group7,
  .group8{
    display: none;
  }
  .group10,
  .group11{
    display: table-cell;
  }
}

@media screen and (max-width:768px) {
  .bet-heading,
  .bet-result{
    text-align: center;
  }

  .group2,
  .group3,
  .group4,
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none;
  }
  .group1,
  .group9,
  .group10,
  .group11 {
    display: table-cell;
  }
}


 

@media screen and (max-width:555px) {
 td.group1{
    font-size: 12px;
  }
}
@media screen and (max-width:480px) {
  td.group1{
    font-size: 10px;
  }
  .group1{
    width: 60px;
  }
}

@media screen and (max-width:320px) {
  .report-container{
    padding: 2px;
  }
  td.group1{
    font-size: 10px;
  }
}