@charset "UTF-8";
body {
  background: #f3f5f9;
  font-family: "Arial", "微軟正黑體";
  margin: 0;
  padding: 0;
  color: #333; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a:hover, a:focus {
  text-decoration: none; }

.mobileOnly {
  display: none; }

/* hrader */
.header-bar {
  height: 40px;
  text-align: center;
  width: 100%;
  background: #6686DF; }

.bet-heading {
  font-size: 20px;
  color: #fff;
  line-height: 38px;
  margin: 0;
  font-family: "新細明體"; }

/* Caption */
.caption {
  padding: 18px 0;
  font-weight: bold;
  float: left; }

.searchBtn {
  float: right; }

/* Pager */
.pageBar {
  margin: 13px 0;
  float: right; }
  .pageBar a {
    font-size: 12px;
    line-height: 1.5; }
    .pageBar a:hover {
      background: #f3f5f9; }
    .pageBar a:focus {
      color: #6686DF; }
  .pageBar input.form-control {
    height: 24px;
    padding: 0 5px;
    width: 50px;
    text-align: center;
    display: inline-block;
    margin: 2px 5px;
    border-radius: 0;
    border: 1px solid #ddd;
    vertical-align: middle;
    background: #fff; }

.btnPrev, .btnNext, .btnPage {
  font-size: 12px;
  position: relative;
  padding: 4px 8px;
  line-height: 1;
  text-decoration: none;
  color: #6686DF;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
  height: 28px; }

/* Panel */
.panel.panel-form {
  border-radius: 4px;
  background: #fff; }
  .panel.panel-form .panel-heading {
    background: #fff;
    text-align: center;
    font-weight: bold;
    color: #6686DF;
    font-size: 20px;
    font-family: "新細明體"; }
  .panel.panel-form .panel-body {
    padding-top: 0; }

/* table */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px 5px 2px 5px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dde7fe; }

.table {
  margin-bottom: 10px; }

/*th*/
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dde7fe; }

/* no-boarded */
.table.no-boarded > tbody > tr > td, .table.no-boarded > tbody > tr > th {
  border: 0 !important; }

.font-sm {
  font-size: 10px; }

/* 遊戲種類按鈕 */
.bet-link {
  width: calc(100% - 5px);
  display: block;
  border-radius: 3px;
  margin: 0 auto;
  border: 1px solid #6686DF;
  color: #6686DF; }
  .bet-link:focus {
    color: #6686DF; }
  .bet-link:hover {
    background: #6686DF;
    color: #fff;
    text-decoration: none; }

/* 交易明細
=====================================================================================*/
.header-fixed {
  position: fixed;
  height: 95px;
  width: 100%;
  z-index: 9999;
  background: #f3f5f9; }

.empty-height {
  height: 95px;
  display: block;
  width: 100%; }

.bet-heading {
  font-size: 20px;
  color: #fff;
  line-height: 38px;
  margin: 0;
  font-family: "新細明體"; }

.button-group {
  display: table;
  margin: 0 auto; }

.btn.main {
  background: transparent;
  border: 1px solid #6686DF;
  color: #6686DF;
  line-height: 30px;
  margin: 10px;
  min-width: 80px;
  padding: 0 10px; }

.btn.main.current,
.btn.main.current:hover,
.btn.main:hover {
  background: #6686DF;
  color: #fff; }

/* no-boarded */
.total {
  border-top: 4px solid #dde7fe;
  border-bottom: 4px solid #dde7fe;
  color: #1e90ff; }

.table-footer-info {
  margin: 0 auto;
  background: #dde7fe;
  width: 100%; }

.table-footer-info td {
  padding: 2px;
  font-size: 14px; }

.calc-color {
  color: #333; }

.font-blue {
  color: #1e90ff; }

.font-red {
  color: #ed6b75; }

.alert-block {
  color: #ed6b75;
  border-radius: 2px;
  border: 1px solid #f9d5d7;
  background-color: #fdeff0;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 0; }

.inline-block {
  display: inline-block; }

/*老虎機卡牌樣式*/
.panel.panel-form.betResult {
  background: #5a67ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5a67ff 0%, #3bc0e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a67ff), color-stop(100%, #3bc0e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5a67ff 0%, #3bc0e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5a67ff 0%, #3bc0e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5a67ff 0%, #3bc0e0 100%);
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#5a67ff), to(#3bc0e0));
  background: linear-gradient(to bottom, #5a67ff 0%, #3bc0e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border-radius: 4px; }

.panel.panel-form.betResult .panel-heading {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  color: #fff;
  margin-bottom: 15px; }

.betResult {
  color: #fff; }

/* GameStyle 牌桌樣式
=====================================================================================*/
.panel.panel-form.betResult.tableGameStyle {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a67ff+0,3bc0e0+100 */
  background: #0F787E;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0F787E 0%, #06B4AB 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0F787E 0%, #06B4AB 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #0F787E 0%, #06B4AB 100%);
  background: -o-linear-gradient(315deg, #0F787E 0%, #06B4AB 100%);
  background: linear-gradient(135deg, #0F787E 0%, #06B4AB 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F787E', endColorstr='#06B4AB',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px; }

.vector-table-border {
  display: table;
  height: 200px;
  background: #0E6362;
  border-radius: 100px;
  margin: 0 auto 15px;
  padding: 5px;
  width: 95%; }

.vector-table-felt {
  height: 100%;
  border-radius: 100px;
  border: 5px solid #DDB13C;
  background: #349044;
  padding: 20px 18px 50px;
  display: table;
  margin: 0 auto;
  width: 100%; }

/*牌桌樣式表格*/
.tableGameStyle-table {
  margin: 0 auto;
  text-align: center;
  color: #fff; }

.tableGameStyle-table tr td {
  border: 1px solid #38A248;
  padding: 5px; }

/*牌桌樣式按鈕*/
.btn.tableBtn {
  background: transparent;
  border: 2px solid #84c586;
  color: #c5ffc3;
  line-height: 20px;
  margin: 10px;
  min-width: 80px;
  padding: 0 10px; }

.btn.tableBtn.current,
.btn.tableBtn.current:hover,
.btn.tableBtn:hover {
  background: #065453;
  color: #fff; }

/*撲克牌圖*/
.card-poker {
  width: 36px;
  height: 46px; }

/* 注單查詢
=====================================================================================*/
.gametype {
  color: #6686DF;
  padding: 2px 0 6px;
  border-radius: 4px;
  border: 1px solid #6686DF;
  width: 125px; }

.inquire {
  position: relative;
  float: left;
  z-index: 99;
  padding: 5px 0; }

.inquire_margin {
  margin: 2px 10px; }

.calendar input[type="radio"] {
  position: absolute;
  opacity: 0; }
  .calendar input[type="radio"] + .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #6686DF;
    display: inline-block;
    width: 23px;
    height: 23px;
    position: relative;
    top: -0.2em;
    margin-right: 1px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    margin-right: 5px; }
  .calendar input[type="radio"]:checked + .radio-label:before {
    background-color: #6686DF;
    -webkit-box-shadow: inset 0 0 0 0.3em #fff;
    box-shadow: inset 0 0 0 0.3em #fff; }
  .calendar input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #6686DF; }
  .calendar input[type="radio"]:disabled + .radio-label:before {
    -webkit-box-shadow: inset 0 0 0 4px #6686DF;
    box-shadow: inset 0 0 0 4px #6686DF;
    border-color: #6686DF;
    background: #fff; }
  .calendar input[type="radio"] + .radio-label:empty:before {
    margin-right: 10px;
    margin-top: 5px; }

.qtday {
  float: left;
  width: 100%; }
  .qtday input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .qtday input[type="radio"] + .radio-label:before {
      content: '';
      background: #fff;
      border-radius: 100%;
      border: 1px solid #6686DF;
      display: inline-block;
      width: 23px;
      height: 23px;
      position: relative;
      top: -0.2em;
      margin-right: 1px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      margin-right: 5px; }
    .qtday input[type="radio"]:checked + .radio-label:before {
      background-color: #6686DF;
      -webkit-box-shadow: inset 0 0 0 0.3em #fff;
      box-shadow: inset 0 0 0 0.3em #fff; }
    .qtday input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #6686DF; }
    .qtday input[type="radio"]:disabled + .radio-label:before {
      -webkit-box-shadow: inset 0 0 0 4px #6686DF;
      box-shadow: inset 0 0 0 4px #6686DF;
      border-color: #6686DF;
      background: #fff; }
    .qtday input[type="radio"] + .radio-label:empty:before {
      margin-right: 5px;
      margin-top: 5px; }

.qtday-font {
  margin-right: 5px; }

.qtday2 {
  float: left;
  width: 100%; }
  .qtday2 input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .qtday2 input[type="radio"] + .radio-label:before {
      content: '';
      background: #fff;
      border-radius: 100%;
      border: 1px solid #6686DF;
      display: inline-block;
      width: 23px;
      height: 23px;
      position: relative;
      top: -0.2em;
      margin-right: 1px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      margin-top: 3px;
      margin-right: 5px; }
    .qtday2 input[type="radio"]:checked + .radio-label:before {
      background-color: #6686DF;
      -webkit-box-shadow: inset 0 0 0 0.3em #fff;
      box-shadow: inset 0 0 0 0.3em #fff; }
    .qtday2 input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #6686DF; }
    .qtday2 input[type="radio"]:disabled + .radio-label:before {
      -webkit-box-shadow: inset 0 0 0 4px #6686DF;
      box-shadow: inset 0 0 0 4px #6686DF;
      border-color: #6686DF;
      background: #fff; }
    .qtday2 input[type="radio"] + .radio-label:empty:before {
      margin-right: 5px;
      margin-top: 5px; }

.table input,
.table select {
  height: 30px;
  line-height: normal; }

.qtday span {
  margin-right: 5px; }

.frame_line {
  border-color: #6686DF !important;
  background: #fff !important;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px 6px;
  width: 180px;
  line-height: 16px; }

.frame_line2 {
  border-color: #6686DF !important;
  background: #fff !important;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px 6px;
  width: 200px; }

.note_searchBtn {
  float: left;
  margin-top: 30px;
  text-align: center;
  width: 100%; }

.QueryReport th {
  width: 10%;
  word-break: keep-all; }

/*月曆改色*/
.ui-widget-header {
  background: #6686DF !important;
  color: #fff !important; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #6686DF !important;
  color: #fff !important;
  border: 1px solid #6686DF !important; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #da8e18 !important;
  border: 1px solid #865a0e !important; }

select {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMy4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAzNC42IDMwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNC42IDMwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojNjY4NkRGO30NCjwvc3R5bGU+DQo8dGl0bGU+c2VsZWN0LXRyYW5nbGU8L3RpdGxlPg0KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxNy4zLDMwIDM0LjYsMCAwLDAgIi8+DQo8L3N2Zz4NCg==");
  background-size: 10px;
  background-position: right 8px center;
  background-repeat: no-repeat;
  padding: 3px 6px !important; }

/* report_list
=====================================================================================*/
.group8, .group6,
.group10 span.b,
.group11 span.b {
  color: #5a6ca0; }

.group1,
.group2,
.group3,
.group4,
.group9 {
  text-align: center; }

.group5,
.group6,
.group7,
.group8,
.group10,
.group11 {
  text-align: right; }

.group9,
.group10,
.group11 {
  display: none; }

/* width ----------- */
.group1 {
  width: 145px; }

td.group1 {
  font-size: 14px; }

.group4 {
  width: 50px; }

/*手機版時左右寬少點*/
.row {
  margin-left: -20px;
  margin-right: -20px; }

/* 表格的RWD */
@media screen and (max-width: 1024px) {
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none; 
  }
  .group10,
  .group11 {
    display: table-cell; } }

@media screen and (max-width: 980px) {
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none; }
  .group10,
  .group11 {
    display: table-cell; } }

@media screen and (max-width: 768px) {
  .bet-heading {
    text-align: center; }
  .group2,
  .group3,
  .group4,
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none; }
  .group1,
  .group9,
  .group10,
  .group11 {
    display: table-cell; } }

@media screen and (max-width: 555px) {
  td.group1 {
    font-size: 12px; } }

@media screen and (max-width: 480px) {
  td.group1 {
    font-size: 10px; }
  .group1 {
    width: 60px; } }

@media screen and (max-width: 320px) {
  .report-container {
    padding: 2px; }
  td.group1 {
    font-size: 10px; } }

/*手機版時關閉視窗*/
.btnCloseWindow {
  border: 0;
  background: #6686DF;
  color: #fff;
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 9.5px;
  right: 9.5px;
  text-align: center;
  padding: 0; }

/* RWD
=====================================================================================*/
@media screen and (max-width: 1000px) {
  .QueryReport th {
    width: 12%; } }

@media screen and (max-width: 768px) {
  .btnPrev, .btnNext, .btnPage {
    padding: 8px; }
  .actions .btn {
    text-align: center; }
  .vector-table-border {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; } }

@media screen and (max-width: 750px) {
  .btnPrev, .btnNext, .btnPage {
    padding: 4px 5px; } }

@media screen and (max-width: 555px) {
  .QueryReport {
    padding: 3px; }
  .table {
    font-size: 12px; }
  .table-footer-info td {
    padding: 2px;
    font-size: 12px; }
  .table-cards img {
    width: 18% !important; }
  .mobileOnly {
    display: block; }
  .frame_line {
    width: 100px; }
  .frame_line2 {
    width: 150px; }
  .QueryReport th {
    width: 18%; }
  .inquire_margin {
    margin: 2px 1px; }
  .gametype, input {
    font-size: 16px; }
  /*防止蘋果手機zoom*/ }
