#scene{
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
}
.bg{
  position: absolute;
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.robot{
  position: absolute;
  background: url("../images/robot.png") no-repeat;
  background-size: contain;
  display: table-cell;
  width: 11vw;
  height: 22vh;
  left: calc(50vw - 5.5vw);
  top: calc(50vh - 12vh);
}
.robot.type02{
  left: 40vw;
  width: 30vw;
  height: 10vh;
}

.effect{
  position: absolute;
  background: url(../images/effect.png) no-repeat #197b8854;
  border-top: 1px solid #5adaed;
  background-size: cover;
  display: table-cell;
  width: 120vw;
  height: 40vh;
  left: -20vh;
  top: 70vh;
}
.effect.type02{
  top: -20vh;
  height: 40vh;
  border-bottom: 1px solid #5adaed;
}


