html,
body {
  min-height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  background: #749c74;
}

* {
  box-sizing: border-box;
}

i {
  vertical-align: bottom;
}

.panel {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.panel input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 5px solid #dedede;
  margin-top: 10px;
}

.suggestions {
  margin: 0 auto;
  width: 90%;
  color: #333;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  transform: all 0.3s ease;
}
.suggestions.loading-done {
  height: auto;
}
.suggestions li {
  list-style: none;
  background: #fff;
  width: auto;
  padding: 10px;
  margin: 0 5px;
}

.suggestions li:nth-child(odd) {
  /*透視要寫在物體上*/
  transform: perspective(150px) rotateX(6deg);
}

.suggestions li:nth-child(even) {
  /*透視要寫在物體上*/
  transform: perspective(150px) rotateX(-6deg) translateY(1px);
}

.suggestions a {
  color: unset;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.suggestions a:hover .city {
  -webkit-animation-name: hover;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.suggestions a:not(:hover) .city {
  -webkit-animation-name: nothover;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes hover {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 20px;
  }
}
@-webkit-keyframes nothover {
  0% {
    font-size: 20px;
  }
  100% {
    font-size: 16px;
  }
}

.keywords {
  color: #f768d3;
}
