body{
  background: $body-bg;
  font-family: "Arial", "微軟正黑體";
  margin: 0;
  padding: 0;
  color: $font-color-all;
}
*{
  box-sizing: border-box;
}
a:hover, a:focus{
  text-decoration: none;
}
.mobileOnly{
  display: none;
}

/* hrader */
.header-bar{
  height: 40px;
  text-align: center;
  width: 100%;
  background: $header-bg;
}
.bet-heading{
  font-size: 20px;
  color: $header-font;
  line-height: 38px;
  margin: 0;
  font-family: "新細明體";
}

/* Caption */
.caption{
  padding: 18px 0;
  font-weight: bold;
  float:  left;
}
.searchBtn{ 
	float: right;
}

/* Pager */
.pageBar{
  margin: 13px 0;
  float: right;
	a{
	  font-size: 12px;
	  line-height: 1.5;
		&:hover{
			background: $btnPage-hover;
		}
    &:focus{
      color: $btnPage-font;
    }
	}
	input.form-control{
		height: 24px;
		padding: 0 5px;
		width: 50px;
		text-align: center;
		display: inline-block;
		margin: 2px 5px;
		border-radius: 0;
		border: 1px solid $btnPage-line;
		vertical-align: middle;
    background: $btnPage-bg;
	}
}

.btnPrev, .btnNext, .btnPage {
  font-size: 12px;
  position: relative;
  padding: 4px 8px;
  line-height: 1;
  text-decoration: none;
  color: $btnPage-font;
  background-color: $btnPage-bg;
  border: 1px solid $btnPage-line;
  margin-left: -1px;
  height: 28px;
}

/* Panel */
.panel.panel-form{
  // -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  // box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px;
  background: $panel-bg;
	.panel-heading{
	  background: $panel-bg;
	  text-align: center;
	  font-weight: bold;
	  color: $panel-title;
	  font-size: 20px;
    // 。text-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
	  font-family: "新細明體";
	}
	.panel-body{
	  padding-top: 0;
	}
}

/* table */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px 5px 2px 5px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid $panel-line;
}

.table{
  margin-bottom: 10px;
}
/*th*/
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid $panel-line;
}

/* no-boarded */
.table.no-boarded>tbody>tr>td, .table.no-boarded>tbody>tr>th{
  border: 0!important;
}

.font-sm{
  font-size: 10px;
}

/* 遊戲種類按鈕 */
.bet-link{
  width: calc(100% - 5px);
  display: block;
  border-radius: 3px;
  margin: 0 auto;
  border: 1px solid $btn-color;
  color:  $btn-color;
  &:focus{
    color:  $btn-color-focus;
  }
	&:hover{
	  background: $btn-color;
	  color: $btn-color-hover;
	  text-decoration: none;
	}
}



/* 交易明細
=====================================================================================*/

.header-fixed{
  position: fixed;
  height: 95px;
  width:  100%;
  z-index: 9999;
  background: $header-fixed-bg;
}
.empty-height{
  height: 95px;
  display: block;
  width: 100%;
}
.bet-heading{
  font-size: 20px;
  color: $header-font;
  line-height: 38px;
  margin: 0;
  font-family: "新細明體";
}

.button-group{
  display:table;
  margin: 0 auto;
}

.btn.main{
  background: transparent;
  border: 1px solid $btn-color;
  color: $btn-color;
  line-height: 30px;
  margin: 10px;
  min-width: 80px;
  padding: 0 10px;
}
.btn.main.current,
.btn.main.current:hover,
.btn.main:hover{
  background: $btn-color;
  color: $btn-color-hover;
}

/* no-boarded */
.total{
  border-top: 4px solid $panel-line;
  border-bottom: 4px solid $panel-line;
  color: $panel-total;
}
.table-footer-info {
  margin: 0 auto;
  background: $tbody-bg;
  width: 100%;
}
.table-footer-info td{
  padding: 2px;
  font-size: 14px;
}
.calc-color{
  color: $font-color-all;
}
.font-blue{
  color: $tbody-blue;
}
.font-red{
  color: $tbody-red;
}
.alert-block{
  color: $alert-block-font;
  border-radius: 2px;
  border: 1px solid $alert-block-line;
  background-color: $alert-block-bg;
  padding: 5px 10px;
  text-align: center;
  margin:5px 0;
}
.inline-block{
  display: inline-block;
}

/*老虎機卡牌樣式*/
.panel.panel-form.betResult{
  @include linearGradient($betResult-color-top, $betResult-color-bottom);
  border-radius: 4px;
}
.panel.panel-form.betResult .panel-heading{
  background: $betResult-title-bg; 
  width: 100%;
  color: $betResult-title;
  margin-bottom: 15px;
}
.betResult{
  color: #fff;
}

/* GameStyle 牌桌樣式
=====================================================================================*/

.panel.panel-form.betResult.tableGameStyle{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a67ff+0,3bc0e0+100 */
  background: #0F787E; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #0F787E 0%, #06B4AB 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0F787E 0%,#06B4AB 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0F787E 0%,#06B4AB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F787E', endColorstr='#06B4AB',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  box-shadow: -5px 5px 20px rgba(139, 168, 189, 0.3);
  border-radius: 4px;
}
.vector-table-border{
  display:  table;
  height: 200px;
  background: #0E6362;
  border-radius: 100px;
  margin: 0 auto 15px;
  padding: 5px;
  width: 95%;
}
.vector-table-felt{
  height: 100%;
  border-radius: 100px;
  border: 5px solid #DDB13C;
  background: #349044;
  padding: 20px 18px 50px;
  display: table;
  margin:  0 auto;
  width: 100%;
}
/*牌桌樣式表格*/
.tableGameStyle-table{
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.tableGameStyle-table tr td{
  border: 1px solid #38A248;
  padding: 5px;
}
/*牌桌樣式按鈕*/
.btn.tableBtn{
  background: transparent;
  border: 2px solid #84c586;
  color: #c5ffc3;
  line-height: 20px;
  margin: 10px;
  min-width: 80px;
  padding: 0 10px;
}
.btn.tableBtn.current,
.btn.tableBtn.current:hover,
.btn.tableBtn:hover{
  background: #065453;
  color: #fff;
}
/*撲克牌圖*/
.card-poker{
  width:36px;
  height:46px;
}


/* 注單查詢
=====================================================================================*/
.gametype{
  color: $gametype-line;
  padding: 2px 0 6px; 
  border-radius: 4px;
  border: 1px solid $gametype-font;
  width: 125px;
}
.inquire{
  position: relative;
  float: left;
  z-index: 99;
  padding: 5px 0;
}
.inquire_margin{
  margin: 2px 10px; 
}

.calendar {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $input-ring-color-no;
        border-radius: 100%;
        border: 1px solid $input-ring-color-yes;
        display: inline-block;
        width: 23px;
        height: 23px;
        position: relative;
        top: -0.2em;
        margin-right: 1px; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        margin-right: 5px;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $input-ring-color-yes;
          box-shadow: inset 0 0 0 .3em $input-ring-color-no;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $input-ring-color-yes;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $input-ring-color-yes;
          border-color: $input-ring-color-yes;
          background: $input-ring-color-no;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 10px;
          margin-top: 5px;
        }
      }
    }
  }
}

.qtday{
  float: left;
  width: 100%;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $input-ring-color-no;
        border-radius: 100%;
        border: 1px solid $input-ring-color-yes;
        display: inline-block;
        width: 23px;
        height: 23px;
        position: relative;
        top: -0.2em;
        margin-right: 1px; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        margin-right: 5px;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $input-ring-color-yes;
          box-shadow: inset 0 0 0 .3em $input-ring-color-no;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $input-ring-color-yes;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $input-ring-color-yes;
          border-color: $input-ring-color-yes;
          background: $input-ring-color-no;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 5px;
          margin-top: 5px;
        }
      }
    }
  }
}

.qtday-font{
  margin-right: 5px;
}

.qtday2{
  float: left;
  width: 100%;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $input-ring-color-no;
        border-radius: 100%;
        border: 1px solid $input-ring-color-yes;
        display: inline-block;
        width: 23px;
        height: 23px;
        position: relative;
        top: -0.2em;
        margin-right: 1px; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        margin-top: 3px;
        margin-right: 5px;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $input-ring-color-yes;
          box-shadow: inset 0 0 0 .3em $input-ring-color-no;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $input-ring-color-yes;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $input-ring-color-yes;
          border-color: $input-ring-color-yes;
          background: $input-ring-color-no;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 5px;
          margin-top: 5px;
        }
      }
    }
  }
}

.table input,
.table select{
  height: 30px;
  line-height: normal;
}

.qtday span {
  margin-right: 5px;
}


.frame_line{
  border-color: $panel-input-line !important;
  background: $panel-input-bg !important;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px 6px;
  width: 180px;
  line-height: 16px /*修IE QQ input字置中*/
}
.frame_line2{
  border-color: $panel-input-line !important;
  background: $panel-input-bg !important;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px 6px;
  width: 200px;
}
.note_searchBtn{
  float: left;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.QueryReport th{
  width: 10%;
  word-break: keep-all;
}

/*月曆改色*/
.ui-widget-header{
  background: $calendar-header-bg !important;
  color: $calendar-header-font !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  background: $calendar-header-today-bg !important;
  color: $calendar-header-today-font !important;
  border: 1px solid $calendar-header-today-line !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  background: #da8e18 !important;
  border: 1px solid #865a0e !important;
}

select {
  -webkit-appearance: none;
  background-color: $panel-input-bg;
  background-image: $select-svg;
  background-size: 10px;
  background-position: right 8px center;
  background-repeat: no-repeat;
  padding: 3px 6px !important;
 }


/* report_list
=====================================================================================*/

.group8,.group6,
.group10 span.b,
.group11 span.b{
  color: $table-font-color-2;
}

.group1,
.group2,
.group3,
.group4,
.group9{
  text-align: center;
}
.group5,
.group6,
.group7,
.group8,
.group10,
.group11 {
  text-align: right;
}

.group9,
.group10,
.group11{
  display: none;
}

/* width ----------- */
.group1{
  width: 145px;
}
td.group1{
  font-size: 14px;
}
.group4{
  width: 50px;
}

/*手機版時左右寬少點*/
.row {
  margin-left: -20px;
  margin-right: -20px;
}

/* 表格的RWD */
@media screen and (max-width: 1024px) {
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none; 
  }
  .group10,
  .group11 {
    display: table-cell; } 
  }

@media screen and (max-width: 980px) {
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none; }
  .group10,
  .group11 {
    display: table-cell; } 
  }

@media screen and (max-width:768px) {
  .bet-heading{
    text-align: center;
  }

  .group2,
  .group3,
  .group4,
  .group5,
  .group6,
  .group7,
  .group8 {
    display: none;
  }
  .group1,
  .group9,
  .group10,
  .group11 {
    display: table-cell;
  }
}

@media screen and (max-width:555px) {
 td.group1{
    font-size: 12px;
  }
}
@media screen and (max-width:480px) {
  td.group1{
    font-size: 10px;
  }
  .group1{
    width: 60px;
  }
}

@media screen and (max-width:320px) {
  .report-container{
    padding: 2px;
  }
  td.group1{
    font-size: 10px;
  }
}

/*手機版時關閉視窗*/
.btnCloseWindow{
  border: 0;
  background: $btnCloseWindow-bg;
  color: $btnCloseWindow-font;
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 9.5px;
  right: 9.5px;
  text-align: center;
  padding: 0;
}

/* RWD
=====================================================================================*/
@media screen and (max-width:1000px) {
  .QueryReport th{
    width: 12%;
  }
}
@media screen and (max-width:768px) {
  .btnPrev, .btnNext, .btnPage {
    padding: 8px
  }
  .actions .btn{
    text-align: center;
  }
  .vector-table-border{
    flex: 1;
  }

}

@media screen and (max-width:750px) {
  .btnPrev, .btnNext, .btnPage {
    padding: 4px 5px;
  }
}
@media screen and (max-width:555px) {
  .QueryReport{
    padding: 3px;
  }
  .table{
    font-size: 12px;
  }
  .table-footer-info td{
    padding: 2px;
    font-size: 12px;
  }
  .table-cards img{
    width: 18%!important;
  }
  .mobileOnly{
    display: block;
  }
  .frame_line{
    width: 100px;
  }
  .frame_line2{
    width: 150px;
  }
  .QueryReport th{
    width: 18%;
  }
  .inquire_margin{
  margin: 2px 1px; 
  }
  .gametype,input{
    font-size: 16px;
  }/*防止蘋果手機zoom*/
}