html,
body {
  height: 100%;
  min-height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  background: #000;
}

* {
  box-sizing: border-box;
}

/* Flex Parent */
.panels {
  min-height: -webkit-fill-available;
  overflow: hidden;
  display: flex;
}

/* Flex Children */
.panel {
  padding: 10px;
  background: skyblue;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 255, 0.1);
  width: 100%;
  min-height: 20px;
  opacity: 0.8;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #dedede;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  translate: all 0.7s cubic-bezier(0.61, -0.19, 0, 7, -0.11);
}
.panel:hover {
  opacity: 1;
}
.panel:last-child {
  border-right: 0;
}
.panel.is-opened {
  opacity: 1;
}

/* Flex Items */
.panel > * {
  color: #fff;
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.is-actived > *:first-child {
  transform: translateY(0);
}
.panel.is-actived > *:last-child {
  transform: translateY(0);
}

/* *****選中物件時***** */
.panel.is-opened {
  flex-grow: 15;
  font-size: 40px;
}

@media (orientation: landscape) {
  /*橫式時*/
  .panel.flexSize {
    flex: none;
    width: 80px;
  }
}

.panel p {
  text-transform: uppercase;
  font-size: 1.3rem;
  text-shadow: #355dc6 2px 0 15px;
}
.panel p:nth-child(2) {
  font-size: 4rem;
}

/* Images */
.cover1 {
  background-image: url(images/cover1.jpg);
}
.cover2 {
  background-image: url(images/cover2.jpg);
}
.cover3 {
  background-image: url(images/cover3.jpg);
}
.cover4 {
  background-image: url(images/cover4.jpg);
}
.cover5 {
  background-image: url(images/cover5.jpg);
}
/* ========== 直式時 ========== */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .panels {
    flex-direction: column;
    height: -webkit-fill-available;
  }
  /* Images */
  .cover1 {
    background-image: url(images/cover1_p.jpg);
  }
  .cover2 {
    background-image: url(images/cover2_p.jpg);
  }
  .cover3 {
    background-image: url(images/cover3_p.jpg);
  }
  .cover4 {
    background-image: url(images/cover4_p.jpg);
  }
  .cover5 {
    background-image: url(images/cover5_p.jpg);
  }
  .panel {
    border: 0;
    border-bottom: 1px solid #dedede;
  }

  /* *****選中物件時***** */
  .panel.is-opened {
    flex: auto;
    min-height: 80vh;
  }

  /* 文字 */
  .panel > *:first-child {
    transform: translateY(-130%);
  }
  .panel > *:last-child {
    transform: translateY(130%);
  }
}
