
/*遊戲大廳整體*/
.game-lobby {
    padding: 56.25% 0 0;
    position: relative;
    background: url("../images/bg.jpg");
    background-size: cover;
}

/*遊戲列表區塊*/
.game-board{
  background: url("../images/game_bg.png") no-repeat;
  background-size: contain;
  height: 75%;
  width: 80%;
  position: absolute;
  top: 5%;
  left: 0; right: 0; margin: 0 auto;
}

/*遊戲項目*/
.game-item-group{
  position: absolute;
  top:  0;
  left:  0;
  right: 0;
  bottom:  0;
  margin: 1.5% auto 0;
  height: calc(100% - 16%);
  width: 100%;
}
.game-item{
  width: 24.1%;
  background: url("../images/game/picture_bg_1.png");
  background-repeat:no-repeat;
  background-size: contain;
  padding: 15% 0 0 0;
  display: inline-table;
  text-align: center;
  position: relative;
  margin-bottom: 1.5%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.game-item:hover{
  background-image: url("../images/game/picture_bg_2.png");
  cursor: pointer;
}
.game-item:hover .game-name{
  text-shadow: 0 0 10px #fff;
}

/*標籤*/
.game-tags img {
  max-width: 30%
}
.game-tags .left-top{
  left: 4%;
  top: 10%;
  position: absolute;
  z-index: 5;
}
.game-tags .jackpot{
  top: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
}
.game-cover{
  width: 83%;
  position: absolute;
  top: 11%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5.5%;
}

/*遊戲名稱*/
.game-name{
  color: #fff;
  display: block;
  margin-top: -4%;
  -webkit-transition: all 0.3s linear;
}

/*================================================================*/

/*請選擇遊戲*/
.info-group{
  position: absolute;
  top: calc(50% - 2%);
  bottom: 0;
  z-index: 20;
  width:100%;
  height: 100%;
  max-height: 12%;
}
.info-group img{
  -webkit-transition: all 0.3s linear;
  opacity:0.8;
}
.info-group .left:hover,
.info-group .right:hover{
  opacity:1; 
  cursor: pointer;
}
.info-group .information{
  width: 100%;
}
.info-group .left{
  position: absolute;
  left: -5%;
  top: 0;
  width: 3.5%;
}
.info-group .right{
  position: absolute;
  right: -5%;
  top: 0;
  width: 3.5%;
}

/*================================================================*/

/*分類區塊*/
.game-type{
  background-size: contain;
  height: 12%;
  width: 80%;
  position: absolute;
  bottom: 5%;
  left: 0; right: 0; margin: 0 auto;
}
.relative-wrap{
  position: relative;
  width: 100%;
}
.game-type-arrows img{
  top: 9%;
  height: 65%;
}
.game-type-arrows .left{
  left: -5%;
}
.game-type-arrows .right{
  right: -5%;
}
.game-type-arrows img{
  position: absolute;
}
.game-type .btn{
  width: 15.8%;
  display: inline-block;
}

/*================================================================*/

@media screen and (max-width: 1280px) {
  .game-item{
    margin-bottom: 0.5%;
  }
}

@media screen and (max-width: 1023px) {
  .game-name{
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .game-name{
    font-size: 11px!important;
  }
}

@media screen and (max-width: 450px) {
  .game-item{
    width: 23.7%;
  }
  .game-type .btn{
    width: 15.8%;
  }
}