/*
   Custom Reset : 2015-12-17
   Description: Some settings have been changed.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    word-break: break-all!important;
    word-break: break-word!important;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul, li{list-style: none;}
a{text-decoration: none;}
button:focus {
    outline: none
}
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}

/* Box Sizing = Border-box
   ========================================================================== */
div, span, ul, li, header, footer, nav, input, button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
/* Moz default reset
   ========================================================================== */
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

