@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  background: #000;
}

.clock {
  display: flex;
  margin: 0 auto;
  width: 330px;
  height: 330px;
  border: 1px solid skyblue;
  border-radius: 100%;
  text-align: center;
  position: relative;
}

.clock-time {
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  position: absolute;
  top: 135px;
  color: skyblue;
  right: -29px;
  letter-spacing: 5px;
  z-index: 10;
  width: 100px;
  padding: 10px;
  background: #4259635c;
}

.clock-face {
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: #1f2b30;
  position: relative;
  margin: 0 auto;
}

.hand {
  height: 1px;
  width: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand i {
  background: skyblue;
  display: block;
  position: absolute;
  transform-origin: 100%;
  border-radius: 4px;
  right: -5px;
}
.hour-hand i {
  height: 16px;
  width: 100px;
  top: -8px; /* 16/2 */
}
.min-hand i {
  height: 5px;
  width: 150px;
  top: -2.5px; /* 5/2 */
}
.sec-hand i {
  height: 1px;
  width: 150px;
}
