<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/lottie.min.js"></script>
    <script src="js/lottie-icons.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Remix Music</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h2 class="title">Remix Music</h2>

        <!--音樂loops-->
        <div class="keys">
          <div
            class="key"
            v-for="(item, index) in bgSounds"
            :key="index"
            :class="{'is-playing':item.isPlaying}"
            :data-key="item.keyCode"
            data-obj="bgSounds"
            :data-index="index"
            @click="playSound(item, item.keyCode)"
          >
            <kbd>{{ item.kbd }}</kbd>
            <span class="sound">{{ item.sound }}</span>
            <!--音樂檔案-->
            <audio
              loop
              :data-audio="item.keyCode"
              :src="'sounds/' + item.music"
            ></audio>
            <!--動畫檔案-->
            <div
              class="lottie-sound lottie"
              data-animation-path="animations/sound.json"
              data-anim-loop="true"
              data-anim-autoplay="false"
              :data-name="'l-'+item.keyCode"
            ></div>
          </div>
        </div>

        <!--手指-->
        <div class="click">
          <div
            v-for="(item, index) in hitSounds"
            :data-find="'hitSounds[' + index +']'"
            :key="index"
            :data-key="item.keyCode"
            data-obj="hitSounds"
            :data-index="index"
            @click="playHit(item, item.keyCode)"
          >
            <!--打擊音樂-->
            <audio
              :data-index="index"
              :data-audio="item.keyCode"
              :src="'sounds/' + item.music"
            ></audio>
            <!--動畫檔案-->
            <div
              class="lottie lottie-hit"
              data-animation-path="animations/click.json"
              data-anim-loop="true"
              data-anim-autoplay="false"
              :data-name="'l-' + item.keyCode"
            >
              <kbd>{{ item.kbd }}</kbd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="module"></script>
  <script>
    var Profile = new Vue({
      el: '#app',
      data() {
        return {
          hitSounds: [
            {
              kbd: 'Press Ｚ',
              keyCode: 90,
              sound: '玻璃',
              music: 'glass.mp3',
              isPlaying: false,
            },
          ],
          bgSounds: [
            {
              kbd: 'A',
              keyCode: 65,
              sound: 'BLUES-藍調',
              music: 'blues.mp3',
              isPlaying: false,
            },
            {
              kbd: 'S',
              keyCode: 83,
              sound: 'Raining-雨聲',
              music: 'drums.mp3',
              isPlaying: false,
            },
            {
              kbd: 'D',
              keyCode: 68,
              sound: 'FUNKY-放克',
              music: 'funky-d7th.mp3',
              isPlaying: false,
            },
            {
              kbd: 'F',
              keyCode: 70,
              sound: '吉他混音',
              music: 'guitar-groove-b.mp3',
              isPlaying: false,
            },
            {
              kbd: 'G',
              keyCode: 71,
              sound: 'JAZZ-爵士',
              music: 'jazz.mp3',
              isPlaying: false,
            },
            {
              kbd: 'H',
              keyCode: 72,
              sound: 'PIANO-鋼琴',
              music: 'shadydave-piano.mp3',
              isPlaying: false,
            },
          ],
        };
      },
      methods: {
        playSound(item, keyCode) {
          console.log('function playSound');
          const vm = this;
          let audio = document.querySelector(`audio[data-audio="${keyCode}"]`);
          let lottieName = `l-${keyCode}`;
          if (!item.isPlaying) {
            console.log('if (!item.isPlaying)');
            //播放
            audio.play();
            lottie.play(lottieName);
            item.isPlaying = true;
            console.log('play');
          } else if (item.isPlaying) {
            console.log('else if (item.isPlaying)');
            //停止
            lottie.stop(lottieName);
            audio.pause();
            audio.currentTime = 0;
            //改狀態
            item.isPlaying = false;
            console.log('stop');
          }
        },
        playByKey() {},
        playHit(item, keyCode) {
          let audio = document.querySelector(`audio[data-audio="${keyCode}"]`);
          let lottieName = `l-${keyCode}`;
          lottie.setSpeed(7, lottieName);
          lottie.play(lottieName);
          audio.currentTime = 0;
          audio.play();
          item.isPlaying = true;
          console.log('play');
          setTimeout(function () {
            lottie.stop(lottieName);
          }, 100);
          item.isPlaying = false;
          console.log('stop');
        },
        onWindowLoad() {
          console.log('window load event');
        },
      },
      created() {
        console.log('created ok');
        window.addEventListener('load', this.onWindowLoad);
      },
      mounted() {
        const vm = this;
        window.addEventListener('keydown', function (e) {
          let keyCode = e.keyCode;
          console.log(keyCode);
          let target = document.querySelector(`div[data-key="${keyCode}"]`);
          let lottieName = `l-${keyCode}`;
          let _index = target.dataset.index;

          // 音樂;
          if (target.dataset.obj == 'bgSounds') {
            console.log('go bgSounds');

            let audio = document.querySelector(
              `audio[data-audio="${keyCode}"]`
            );
            let lottieName = `l-${keyCode}`;

            if (!vm.$root.bgSounds[_index].isPlaying) {
              console.log('if (!item.isPlaying)');
              //播放
              audio.play();
              lottie.play(lottieName);
              vm.$root.bgSounds[_index].isPlaying = true;
              console.log('play');
            } else if (vm.$root.bgSounds[_index].isPlaying) {
              console.log('else if (item.isPlaying)');
              //停止
              lottie.stop(lottieName);
              audio.pause();
              audio.currentTime = 0;
              //改狀態
              vm.$root.bgSounds[_index].isPlaying = false;
              console.log('stop');
            }
          }

          // 音樂打擊
          else if (target.dataset.obj == 'hitSounds') {
            console.log('go hitSounds');

            let audio = document.querySelector(
              `audio[data-audio="${keyCode}"]`
            );
            let lottieName = `l-${keyCode}`;
            lottie.setSpeed(7, lottieName);
            lottie.play(lottieName);
            audio.currentTime = 0;
            audio.play();

            // 改狀態
            vm.$root.hitSounds[_index].isPlaying = true;
            console.log('play');
            setTimeout(function () {
              lottie.stop(lottieName);
            }, 100);

            //改狀態
            vm.$root.hitSounds[_index].isPlaying = false;
            console.log('stop');
          }
        });
      },
    });
  </script>
</html>
