:root {
  --mainColor: #6cd3b3;
}

html,
body {
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}
body {
  background: url(https://images.pexels.com/photos/145707/pexels-photo-145707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat;
  background-size: cover;
  background-position: bottom;
}

.container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.title {
  color: #fff;
  width: 100%;
  text-align: center;
}

.keys {
  text-align: center;
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  display: -ms-flexbox;
  background: rgba(255, 255, 255, 0.55);
  padding: 10px;
}

.key {
  cursor: pointer;
  flex: 1;
  opacity: 0.9;
}
.key kbd {
  display: block;
  font-size: 3rem;
  transition: all ease-in 0.3s;
}
.key:hover kbd {
  color: var(--mainColor);
}
.key .sound {
  color: #515151;
  font-size: 0.8rem;
}

/* 動畫播放時 */
.key.is-playing {
  opacity: 1;
}
.key.is-playing kbd {
  color: var(--mainColor);
  text-shadow: #3c6458 0 0 5px;
}

.key.is-playing .lottie-icon {
  opacity: 1;
}

/* lottie 動畫設定 */
.lottie-sound {
  opacity: 0.3;
  height: 20px;
  padding: 10 0px;
  width: 100%;
  position: relative;
}

.lottie-hit {
  height: 200px;
  width: 200px;
  padding: 10 0px;
  position: relative;
}

.click {
  margin: 20px auto;
  width: 200px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.click kbd {
  position: absolute;
  text-align: center;
  display: block;
  font-size: 2rem;
  transition: all ease-in 0.3s;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* RWD */

@media only screen and (max-width: 600px) {
  .container {
    top: 0;
  }
  .keys {
    flex-wrap: wrap;
  }
  .key {
    flex: none;
    width: 33.3%;
    margin: 10px 0;
  }
}
