<style>
    .themes {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 60px;
        left: 0;
        background: #6585e0;
        padding: 10px;
        width: auto;
        z-index: 10000;
    }
    .themes__closeBtn{
        position: absolute;
        top: -10px;
        right: -10px;
        background: #df6666;
        width: 26px;
        height: 26px;
        line-height: 24px;
        color: #fff;
        text-align: center;
        border-radius: 100%;
        cursor: pointer;
        border: 2px solid #fff;
    }
    .themes ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .theme_btn{
        background: #fff;
        display: block;
        border-radius: 3px;
        margin: 0 auto;
        border: 1px solid #7492e8;
        color: #7492e8;
        padding: 3px 8px;
    }
    

</style>

<div class="themes">
    <div class="themes__closeBtn">X</div>
    <ul>
        <li><button id="theme_light" class="theme_btn">亮色版</button></li>
        <li><button id="theme_dark" class="theme_btn">深色版</button></li>
    </ul>
</div>

<script>
$('.themes__closeBtn').click(function() {
    $(".themes").hide();
});
$('#theme_light').click(function() {
    location.href = 'QueryReport_light.html';
});
$('#theme_dark').click(function() {
    location.href = 'QueryReport_dark.html';
});
</script>