body {
  background: #000;
}

.layout {
  padding: 50.5% 0 0 0;
  position: relative;
  margin: auto;
  overflow: hidden;
  background: #000;
}

.layout-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moving-zone {
  position: relative;
  height: 100%;
  perspective: 3000px;
  perspective-origin: center 0%;
}
.popup{
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.item {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  top: 0;
}

img {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: absolute;
}

.inside{
  bottom: 0;
}

.woman {
  top: 56%;
  width: 6%;
  box-shadow: 0 10px 20px #000;
  z-index: 8;
  transform: translateZ(50px);
}

.lighten {
  top: 35%;
  width: 13%;
  transform: translateZ(60px);
}
.lighten-2 {
  top: 35%;
  left: 43%;
  width: 13%;
  transform: translateZ(60px);
}
.lighten-3 {
  top: 35%;
  right: 43%;
  width: 13%;
  transform: translateZ(60px);
}

.floor {
  bottom: 7%;
  transform: translateZ(100px);
}

.background {
  width: 100%;
  transform: translateZ(150px);
}
